
body{
    background: rgb(255, 230, 255);
    background-image: url("../img/wall4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;


}

a,b{
    font-weight: bolder;
    font-size: 18px;
}
#aboutUs{

    position: relative;
    font-size: 20px;
    font-weight: bolder;
    width: 1360px;
    height: 400px;
    margin: 30px;
}

div.carousel-inner{

    box-shadow: 5px 10px 15px 3px grey;

}

#aboutUs{


    font-family:Chiller;
    font-size: 30px;
    color: black;
}